.vedioPlayerPage {
    display: flex;
    padding: 20px;
    margin-top: 56px;
    gap: 20px;
    color: #333;
}

.leftSection {
    flex: 2;
}

.vedioWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.videoInfo {
    margin-top: 20px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.stats {
    color: #555;
    margin-top: 5px;
}

.uploader {
    margin-top: 10px;
    color: #777;
}

.rightSection {
    flex: 1;
    overflow-y: auto;
    max-height: 80vh;
}

.recommendedVideos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.recommendedVideoCard {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.recommendedThumbnail {
    width: 120px;
    height: 90px;
    object-fit: cover;
}

.recommendedInfo {
    display: flex;
    flex-direction: column;
}

.recommendedTitle {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.recommendedUploader,
.recommendedViews {
    font-size: 12px;
    color: #666;
}

.recommendedViews {
    margin-top: 5px;
}

.rightSection::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .vedioPlayerPage {
        flex-direction: column;
        padding: 10px;
        margin-left: 15px;

    }

    .leftSection {
        flex: 1;
    }

    .rightSection {
        margin-left: 10px;
        flex: 1;
        margin-top: 25px;
        width: 100%;
        max-height: auto;
    }

    .title {
        font-size: 16px;
    }

    .recommendedThumbnail {
        width: 100px;
        height: 75px;
    }

    .recommendedTitle {
        font-size: 13px;
    }

    .recommendedUploader,
    .recommendedViews {
        font-size: 11px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .vedioPlayerPage {
        flex-direction: column;
        padding: 15px;
        margin-left: 15px;
    }

    .leftSection {
        flex: 1;
    }

    .rightSection {
        flex: 1;
        margin-left: 10px;
        margin-top: 20px;
        max-height: auto;
    }

    .title {
        font-size: 17px;
    }

    .recommendedThumbnail {
        width: 110px;
        height: 82px;
    }

    .recommendedTitle {
        font-size: 14px;
    }

    .recommendedUploader,
    .recommendedViews {
        font-size: 12px;
    }
}

@media (min-width: 1024px) {
    .vedioPlayerPage {
        flex-direction: row;
    }

    .leftSection {
        flex: 2;
    }

    .rightSection {
        flex: 1;
        max-height: 80vh;
    }

    .recommendedVideoCard:hover .recommendedTitle {
        color: #065fd4;
    }

    .recommendedThumbnail {
        width: 120px;
        height: 90px;
    }
}