.channelPageContainer {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}

.bannerContainer {
    position: relative;
    height: 250px;
    margin-bottom: 20px;
}

.channelBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.channelInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.channelHeader {
    display: flex;
    align-items: center;
}

.profilePic {
    margin-right: 20px;
}

.channelDetails {
    flex-grow: 1;
}

.channelName {
    font-size: 1.8rem;
    font-weight: bold;
}

.navigationTabs {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    margin: 20px 0;
}

.navigationTabs::-webkit-scrollbar{
    display: none;
}

.tabButton {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabButton:nth-child(2){
    color: black;
    text-decoration: underline;
}

.tabButton:hover {
    background-color: #f0f0f0;
}

.subscriberCount {
    color: #606060;
    margin: 5px 0;
}

.description {
    margin-top: 10px;
    line-height: 1.5;
}

.videosContainer {
    margin-top: 20px;
}

.videoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 16px;
}

.videoItem {
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s;
}

.videoItem:hover {
    transform: scale(1.05);
}

.videoThumbnail {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.videoTitle {
    padding: 10px;
    font-size: 0.9rem;
    color: #333;
}