.navbar_container {
    height: 56px;
    padding: 0 16px;
    position: fixed;
    z-index: 999;
    background: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.iconNhambugger,
.profile_button_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 25%;
}

.search_mic_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 10px;
}

.youtubeIcons {
    display: flex;
    gap: 5px;
}

.youtubeIcons img {
    height: 35px;
    width: 35px;
}

.youtubeIcons sup {
    font-size: small;
    font-weight: 200;
}

.searchbox {
    width: 90%;
}

.search_icon {
    cursor: pointer;
}


.micBox {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.profile_button_container {
    flex-flow: row-reverse;
}

.signin_container {
    width: 100px;
    padding: 5px;
    height: 35px;
    border: 1px solid #4848b69c;
    border-radius: 1rem;
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
}

:global(.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child)) {
    border-start-start-radius: 15px !important;
    border-end-start-radius: 15px !important;
}

:global(.ant-btn.ant-btn-icon-only) {
    width: 50px !important;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}


.back_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.signInText {
    color: #4848b69c;
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .search_mic_container {
        justify-content: end;
    }

    .searchbox {
        display: none;
    }

    .HiOutlineDotsVertical,
    .youtubeIconsInactive {
        display: none;
    }
    .signInText {
        font-size: 0.9rem;
        text-wrap: nowrap;
    }
    .search_icon {
        display: block;
    }

    .back_button {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .signin_container{
        width: 80px;
    }
    .signInText {
        font-size: 0.8rem;
        text-wrap: nowrap;
    }
    
    .youtubeIcons img {
        height: 25px;
        width: 25px;
    }

    .youtubeIcons h2{
        font-size: 1rem;
    }
    
    .youtubeIcons sup {
        font-size: smaller;
        font-weight: 200;
    }

    .HiOutlineDotsVertical_mobile{
        display: none;
    }
}