.filterContainer {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    position: sticky;
    z-index: 99;
    gap: 25px;
    padding: 8px 10px;
    overflow-x: auto; 
    overflow-y: hidden;
    top: 56px;
}

.filterContainer::-webkit-scrollbar {
    display: none; 
}

.filterButton {
    background-color: #b4b4b4;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 700;
}

.filterButton:hover {
    background-color: #e0e0e0; 
}

.selected {
    background-color: black;
    color: white; 
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
